from model.menu import Menu

HOST = '0.0.0.0'
PORT = 8081
DOMAIN = 'http://localhost:8081'

DEBUG = True
SECRET_KEY = 'Tkrkje(0p{C"uR+i.4sVY,uS>K.5d/8g'
SESSION_LIFETIME = dict(days=365)

TITLE = 'vk4me'

SEND_ACTIVATE = True

SERVICE_NAMES = {
    'faq',
    'feedback',
    'payment',
    'friends',
    'messages',
    'groups',
    'login',
    'logout',
    'registry',
    'recovery',
    'user',
    'activate'
}

CLIENT_ID = [
    3682744, # iPad (official)
    3502561, # Windows Phone (official)
    3087106, # VK (iPhone official)
    5150365, # Gideon
    5422760, # ShazamVK
    5296163, # musicBOX
    5523900, # ChatBase
    5243944, # App4Me
    5142654, # Crest
    4925556, # Reliable market
    5024887, # Ihavemoneyhoney
    5119199, # Maya
    5414761, # VK Channels
    5520727, # Vkdigest
    3602884, # android
    3827733, # Telepathy,
    5234728, # vkshop
    3711445, # VkMp3
    3851736, # Wartech
    4572346, # Allnets
    5375027, # crawler
    5117270, # Trappi
    2977876, # vibes
    5209446 # dPlay
]
CLIENT_SCOPE = [
    'offline',
    'messages',
    'groups',
    'friends',
    'video'
]

MENU = [
    Menu('Друзья', '/friends', 'fa fa-user', [
        Menu('Все', '/friends/all', 'fa fa-list')
        #Menu('Новые', '/friends/new', 'fa fa-clock-o')
    ]),
    Menu('Сообщения', '/messages', 'fa fa-envelope', [
        Menu('Актуальные', '/messages/all', 'fa fa-comments')
        #Menu('Важные', '/messages/important', 'fa fa-star'),
        #Menu('Кэш', '/messages/cache', 'fa fa-database')
    ]),
    Menu('Группы', '/groups', 'fa fa-users', [
        Menu('Все', '/groups/all', 'fa fa-list'),
        Menu('Администрирование', '/groups/admin', 'fa fa-briefcase')
    ])
]

MONGODB_HOST = 'localhost'
MONGODB_PORT = 27017
MONGODB_DB = 'vk4me'
MONGODB_USERNAME = 'spylogger'
MONGODB_PASSWORD = 'Re85wwBA5C6JSzp4'

SMTP_HOST = 'smtp.yandex.ru'
SMTP_PORT = 25
SMTP_LOGIN = 'spy4me@yandex.ru'
SMTP_PASSWORD = 'JVc228b2NjMJ3ezu'

DEBUG_TB_PANELS = [
    'flask_mongoengine.panels.MongoDebugPanel'
]
DEBUG_TB_INTERCEPT_REDIRECTS = False
