{% extends "panel/base.html" %}
{% block content %}
    <script>
        var user = {
            'active' : 1,
            'access_token' : 'bfdc1ade0efff6e68412224d26b385dfc092f66dbaa144f8eba1e64376573534c21f6257800f589c091f3',
            'user_id' : 46311991
        };
    </script>
    <script>
        var current = 1;
        var lastTop = 1;
    </script>
    <button onclick="alert($('#dialogs').scrollTop());"></button>
    <section class="content">
        <section id="dialogs" class="dialogs chat col-lg-12" onscroll="$.ui.scrollDialog(user);">
        </section>
    </section>
    <script>
        {{ script }}
    </script>
{% endblock %}