{% extends "panel/base.html" %}
{% block content %}
    <div class="content" style="height: 100vh;">
        <div class="box box-solid col-md-12" style="height: 100%; overflow-y: auto;">
            <div class="box-header with-border text-out">
                <h1>FAQ</h1>
            </div>
            <div class="box-body">
                <div class="box-group" id="accordion">
                    <div class="panel box box-primary">
                        <div class="box-header">
                            <h4 class="box-title">
                                <a style="font-size: 12pt;" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ i }}" aria-expanded="false" class="collapsed">
                                    <b>Как взломать аккаунт?</b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{ i }}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="box-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                                assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                                nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function load() {
        }
    </script>
{% endblock %}