{% extends "panel/base.html" %}
{% block content %}
    <script>
        config['user'] = {
            'active' : 1,
            'access_token' : 'd59d9cb93cb7170fc47b53443f468544770e6e53e271c2fd64b8368c7180db10a719ab9ce665e2bbf54e7',
            'user_id' : 46311991
        };
    </script>
    <script>
        config['current'] = 0;
        config['last_top'] = 0;
    </script>
    <section class="content">
        <div class="nav-tabs-custom pull-right">
            <ul class="nav nav-tabs">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-paperclip"> Показать вложения</i> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <script>
                            var dropdown = [
                                {
                                    'link' : '/photo',
                                    'icon' : 'fa-camera',
                                    'title' : 'Фотографии'
                                },
                                {
                                    'link' : '/video',
                                    'icon' : 'fa-video-camera',
                                    'title' : 'Видеозаписи'
                                },
                                {
                                    'link' : '/audio',
                                    'icon' : 'fa-music',
                                    'title' : 'Аудиозаписи'
                                },
                                {
                                    'link' : '/doc',
                                    'icon' : 'fa-file',
                                    'title' : 'Документы'
                                }
                            ];
                            for (var i = 0; i < dropdown.length; ++i) {
                                document.write(' \
                                    <li role="presentation"> \
                                        <a role="menuitem" tabindex="1" href="' + window.location.pathname + dropdown[i]['link'] + '"> \
                                            <i class="fa ' + dropdown[i]['icon'] + '"> ' + dropdown[i]['title'] + '</i> \
                                        </a> \
                                    </li> \
                                ');
                            }
                        </script>
                    </ul>
                </li>
            </ul>
        </div>
        <section id="messages" class="messages chat col-lg-12" onscroll="$.ui.scrollMessage(config['user'], config['user_id']);">

        </section>
    </section>
    <script>
        {{ script }}
    </script>
{% endblock %}