{% extends "panel/base.html" %}
{% block content %}
    <section class="content custom-content">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
                <script>
                            var dropdown = [
                                {
                                    'link' : '/photo',
                                    'icon' : 'fa-camera',
                                    'title' : 'Фотографии'
                                },
                                {
                                    'link' : '/video',
                                    'icon' : 'fa-video-camera',
                                    'title' : 'Видеозаписи'
                                },
                                {
                                    'link' : '/audio',
                                    'icon' : 'fa-music',
                                    'title' : 'Аудиозаписи'
                                },
                                {
                                    'link' : '/doc',
                                    'icon' : 'fa-file',
                                    'title' : 'Документы'
                                }
                            ];
                            for (var i = dropdown.length - 1; i >= 0; --i) {
                                document.write(' \
                                    <li> \
                                        <a href="/messages/all/' + {{ id }} + dropdown[i]['link'] + '"> \
                                            <i class="fa ' + dropdown[i]['icon'] + '"> ' + dropdown[i]['title'] + '</i> \
                                        </a> \
                                    </li> \
                                ');
                            }
                 </script>
                <li class="pull-left header">
                    <a href="/messages/all" class="text-muted" title="Диалоги">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </li>
            </ul>
        </div>
        <section id="messages" class="messages chat col-lg-12" onscroll="$.ui.scrollMessage(config['user'], config['user_id']);">

        </section>
    </section>
    <script>
        function load() {
            {{ script | safe }}
        }
        load();
    </script>
{% endblock %}