<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Восстановление пароля</title>
</head>
<body>
    <span>Добрый день!</span>
    <br/>
    <br/>
    <span>Вы хотели изменить свой пароль от <b>{{ title }}</b>.</span>
    <br/>
    <span>Для этого вам придется перейти на сайт и ввести там новый пароль:</span>
    <br/>
    <a href="{{ host }}/recovery?key={{ key }}">Перейти на сайт</a><br/>
    <br/>
    <span>Если вы не собирались менять пароль, просто удалите это письмо.</span>
</body>
</html>